<!-- Page js Start-->
<script src="__CDN__/assets/koho/assets/js/jquery-3.6.0.min.js"></script>
<script src="__CDN__/assets/koho/assets/js/bootstrap/popper.min.js"></script>
<script src="__CDN__/assets/koho/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="__CDN__/assets/koho/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="__CDN__/assets/koho/assets/js/icons/feather-icon/feather-icon.js"></script>
<!--<script src="__CDN__/assets/koho/assets/js/scrollbar/simplebar.js"></script>-->
<!--<script src="__CDN__/assets/koho/assets/js/scrollbar/custom.js"></script>-->
<!-- Sidebar jquery-->
<script src="__CDN__/assets/koho/assets/js/config.js"></script>
<!--<script src="__CDN__/assets/koho/assets/js/sidebar-menu.js"></script>-->
<script src="__CDN__/assets/koho/assets/js/form-validation-custom.js"></script>
<script src="__CDN__/assets/koho/assets/js/tooltip-init.js"></script>
<script src="__CDN__/assets/koho/assets/js/chart/peity-chart/peity.jquery.js"></script>
<script src="__CDN__/assets/koho/assets/js/chart/peity-chart/peity-custom.js"></script>


<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.js"></script>
<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.en.js"></script>
<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.custom.js"></script>

<script src="__CDN__/assets/js/require{$Think.config.app_debug?'':'.min'}.js" data-main="__CDN__/assets/js/require-frontend{$Think.config.app_debug?'':'.min'}.js?v={$site.version|htmlentities}"></script>

<!-- Page js Ends -->