<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="__CDN__/assets/koho/assets/images/favicon/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="__CDN__/assets/koho/assets/images/favicon/favicon.png" type="image/x-icon">

<!--<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/date-picker.css">-->



<!-- Google font-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">-->
<!--<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/font-awesome.css">
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/feather-icon.css">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/prism.css">
<!-- Bootstrap css-->

<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/bootstrap.css">


<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version|htmlentities}" rel="stylesheet">
<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>



<!-- App css-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/style.css">

<link id="color" rel="stylesheet" href="__CDN__/assets/koho/assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/responsive.css">

<style>
    .form-control {
        height: 47px;
    }
    .dropdown-menu {
        background: #EFF3F9;
        border-radius: 8px;
        box-sizing: content-box;
        font-size: 14px;
        color: #4a4a4a;
        width: 250px;
        padding: 10px;
        transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
        z-index: 99999 !important;
        box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
    }
    .progress {
        height: 10px;
    }
    .form-check{
        display: inline-block !important;
    }
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>

