<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams of Parenthood(DOP) Surrogate in Los Angeles</title>

    <link href="/assets/css/frontend.css?v=1682323438" rel="stylesheet">
    <script type="text/javascript">
        var require = {
            config: {"site":{"name":"\u6211\u7684\u7f51\u7ad9","cdnurl":"","version":1682323438,"timezone":"Asia\/Shanghai","languages":{"backend":"zh-cn","frontend":"zh-cn"}},"upload":{"cdnurl":"","uploadurl":"\/index\/ajax\/upload","bucket":"local","maxsize":"10mb","mimetype":"*","chunking":false,"chunksize":2097152,"savekey":"\/uploads\/{year}{mon}{day}\/{filemd5}{.suffix}","multipart":[],"multiple":false,"fullmode":false,"thumbstyle":"","storage":"local"},"modulename":"index","controllername":"user","actionname":"pre_screen","jsname":"frontend\/user","moduleurl":"\/index","language":"zh-cn","__PUBLIC__":"\/","__ROOT__":"\/","__CDN__":""}    };
    </script>

    <link rel="manifest" href="__CDN__/assets/bridely/assets/images/favicons/manifest.json">
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/style.css">
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/mobile.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"-->
    <!--          integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="-->
    <!--          crossorigin="anonymous" referrerpolicy="no-referrer">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/cdn/all6.min.css">-->
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/cdn/all.min.css">

    <!--    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
    <link href="__CDN__/assets/bridely/assets/cdn/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/owl.theme.default.min.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">-->
    <link rel="stylesheet" href="__CDN__/assets/bridely/assets/cdn/magnific-popup.css">

    <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/date-picker.css">
    <style>
        .form-group input,.form-group select,.form-group textarea {
            border: 1px solid #e7e7e7 !important;
            border-radius: 6px !important;
            color: #000 !important;
            font-weight: 400 !important;
        }
        .appointment-btn {
            border-radius: 6px !important;
        }
        .form-group input:focus {
            border: 1px solid #d51243 !important;
            outline: 0 !important;
        }
        .form-group  .form_style{
            background-color: #fff !important;
        }
        /*调色*/
        .header-top {
            background-color: #CC3B68;
        }
        .header {
            background-color: #fff;
        }
        .banner-container-box {
            background-color: #fff ;
        }
        .get-in-touch {
            background-color: #F1F5F7 ;
        }
        .contact-details-section-outer {
            background-color: #fff ;
        }
        .contact-details-section .first figure {
            background-color: #CC3B68;
        }
        .contact-details-section .second figure{
            background-color: #CC3B68;
        }
        .contact-details-section .third figure{
            background-color: #CC3B68;
        }
        .send_message_form_box_content {
            background-color: #F1F5F7 !important;
        }
        .get-in-touch .send_message_form_box_content input {
            background-color: #fff;
        }
        .appointment-btn {
            background-color: #CC3B68 !important;
        }
        .datepicker--nav-action {
            background-color: #CC3B68 !important;
        }
        .navbar-nav {
            /*background-color: #CC3B68 ;*/
        }
        .home-header-section  .main-header .navbar-collapse .navbar-nav a:hover {
            color: #CC3B68;
        }
    </style>
    <style>
        .form-label {
            font-size: 16px;
        }
        body{
            padding: 0px !important;
        }
        .main-header .navbar {
            margin: 0px !important;
        }
        .n-default .n-left, .n-default .n-right {
            margin-top: -8px !important;
        }
    </style>
    <style>
        @media screen and (max-width: 1440px){
            .home-banner-section .banner-container-box .home-banner-text {
                margin-top: 0px !important;
            }
        }
        .get-in-touch {
            padding-top: 40px;
        }
        .ws_select {
            color: #999;
            padding-left: 18px;
            font-size: 16px;
            height: 54px;
            border-radius: 50px !important;
        }
        .sub-banner-section p {
            padding: 0 10% !important;
        }
        .sub-baner {
            padding: 0px !important;
        }
        .get-in-touch {
            padding-top: 50px;
        }
        /* phone */
        @media only screen and (min-width:960px) {
            .send_message_form_box_content {
                margin-left: 14% !important;
            }
        }
    </style>
</head>

<body>
<!-- HEADER-SECTION -->
<div class="home-header-section sub-header-section">
    <div class="header-top header-top1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 d-md-block d-sm-none">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="header-right float-md-right float-none">
                        <ul class="list-unstyled">
                            <li class="d-inline-block"><a class="d-inline-block email-span text-decoration-none"
                                                          href="mailto:info@dopusa.com">Folllow us on:</a></li>
                            <a href="https://www.facebook.com/DreamsofParenthoodUSA" target="_blank">
                                <li class="d-inline-block user-li"><i class="fa-brands fa-facebook-f"></i></li>
                            </a>

                            <li class="d-inline-block user-li"><i class="fa-brands fa-twitter"></i></li>
                            <!--                            <li class="d-inline-block user-li"><i class="fa-brands fa-pinterest-p"></i></li>-->
                            <!--                            <li class="d-inline-block user-li"><i class="fa-brands fa-instagram"></i></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand pt-0" href="index.html"><img src="__CDN__/uploads/logo.png"
                                                                        alt="" class="img-fluid diverge-logo"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                   href="index.html">Become a Surrogate<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color"
                                   href="{:url('index/user/login')}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color"
                                   href="{:url('index/user/register')}">Register</a>
                            </li>
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link text-decoration-none navbar-text-color"-->
                            <!--                                   href="{:url('index/index/thank')}">Thank</a>-->
                            <!--                            </li>-->
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link text-decoration-none navbar-text-color"-->
                            <!--                                   href="about.html">About</a>-->
                            <!--                            </li>-->
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link text-decoration-none navbar-text-color"-->
                            <!--                                   href="services.html">Services</a>-->
                            <!--                            </li>-->
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link text-decoration-none navbar-text-color"-->
                            <!--                                   href="gallery.html">Gallery</a>-->
                            <!--                            </li>-->
                            <!--                            &lt;!&ndash; <li class="nav-item navbar-text-color"><a class="nav-link text-decoration-none contact-us-margin navbar-text-color" href="pricing.html">Pricing</a></li> &ndash;&gt;-->
                            <!--                            <li class="nav-item dropdown redlight-dropdown">-->
                            <!--                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
                            <!--                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>-->
                            <!--                                <div class="dropdown-menu dropdown-content-redlight">-->
                            <!--                                    <ul class="list-unstyled">-->
                            <!--                                        <li class="nav-item"> <a class="dropdown-item nav-link"-->
                            <!--                                                                 href="pricing.html">Pricing</a></li>-->
                            <!--                                        <li class="nav-item"> <a class="dropdown-item nav-link"-->
                            <!--                                                                 href="single_gallery.html">Gallery Single</a></li>-->
                            <!--                                        <li class="nav-item"> <a class="dropdown-item nav-link"-->
                            <!--                                                                 href="organizer.html">Event Organizer</a></li>-->
                            <!--                                        <li class="nav-item"> <a class="dropdown-item nav-link"-->
                            <!--                                                                 href="comming-soon.html">Comming soon</a></li>-->
                            <!--                                    </ul>-->
                            <!--                                </div>-->
                            <!--                            </li>-->
                        </ul>
                        <!--                        <div class="btn-talk ml-auto">-->
                        <!--                            <ul class="m-0 p-0">-->
                        <!--                                <li class="list-unstyled d-lg-inline-block active"><a class="nav-link contact"-->
                        <!--                                                                                      href="contact.html">Order Services</a></li>-->
                        <!--                                <li class="icon-search"><a href="" class="text-decoration-none play-button"><i-->
                        <!--                                        class="fa-solid fa-magnifying-glass"></i></a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- BANNER-SECTION -->
    <div class="home-banner-section overflow-hidden position-relative sub-baner">
        <figure class="banner-img1 mb-0">
            <img src="__CDN__/assets/bridely/assets/images/banner-img1.png" alt="" class="star">
        </figure>
        <figure class="banner-img2 mb-0">
            <img src="__CDN__/assets/bridely/assets/images/banner-img2.png" alt="" class="star">
        </figure>
        <div class="banner-container-box contact-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-1">
                        <div class="home-banner-text position-relative sub-banner-section" data-aos="fade-up" id="myContentDIV">
                            <h1>Be a <span class="h1-text"> Surrogate!</span></h1>
                            <P>
                                Thank you for your interest in becoming a surrogate mother. This brief admission form will help us quickly determine whether you meet the basic requirements.
                                After completion, we will reach out to you to let you know whether you can move forward, and discuss the surrogacy process in detail.
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Get-in-touch  -->
    <div class="get-in-touch">
        <div class="container">
            <div class="row">
                <!--                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">-->
                <div class="col-xl-10 ">
                    <div class="send_message_form_box_content">
                        <figure class="contact-form-img">
                            <!--                            <img src="__CDN__/assets/bridely/assets/images/contact-form-img.png" alt="" class="img-fluid">-->
                            <img src="__CDN__/uploads/index-1.png" alt="" class="img-fluid" style="height: 180px">
                        </figure>
                        <form id="contactpage" method="POST" action="{:url('index/index/pre_screen')}" class="contactpage-form nice-validator n-default">

                            <input class="form-control"   name="type" type="hidden"  value="2">

                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <label class="form-label" >First name *</label>
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="First name *" name="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <label class="form-label" >First name *</label>
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style"  placeholder="Middle name" name="middle_name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="Last name *" name="last_name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style datepicker-here  digits birthday_time" data-rule="required" placeholder="Date of birth *" name="birthday_time" data-language="en">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="Street Address *" name="address">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="City *" name="city">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="form-group special">
                                        <select class="form-control select-icon select-event ws_select"  name="state">
                                            <option  value="">Select State *</option>
                                            <option  value="AK">AK</option>
                                            <option value="AL" >AL</option>
                                            <option value="AR" >AR</option>

                                            <option value="AZ" >AZ</option>
                                            <option value="CA" >CA</option>
                                            <option value="CO" >CO</option>
                                            <option value="CT" >CT</option>
                                            <option value="DC" >DC</option>
                                            <option value="DE" >DE</option>
                                            <option value="FL" >FL</option>
                                            <option value="GA" >GA</option>
                                            <option value="GU" >GU</option>
                                            <option value="HI" >HI</option>
                                            <option value="IA" >IA</option>
                                            <option value="ID" >ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN" >IN</option>
                                            <option value="KS" >KS</option>
                                            <option value="KY" >KY</option>
                                            <option value="LA" >LA</option>
                                            <option value="MA" >MA</option>
                                            <option value="MD" >MD</option>
                                            <option value="ME" >ME</option>
                                            <option value="MI" >MI</option>
                                            <option value="MN" >MN</option>
                                            <option value="MO" >MO</option>
                                            <option value="MS" >MS</option>
                                            <option value="MT" >MT</option>
                                            <option value="NC" >NC</option>
                                            <option value="ND" >ND</option>
                                            <option value="NE" >NE</option>
                                            <option value="NH" >NH</option>
                                            <option value="NJ" >NJ</option>
                                            <option value="NM" >NM</option>
                                            <option value="NV" >NV</option>
                                            <option value="NY" >NY</option>
                                            <option value="OH" >OH</option>
                                            <option value="OK" >OK</option>
                                            <option value="OR" >OR</option>
                                            <option value="PA" >PA</option>
                                            <option value="PR" >PR</option>
                                            <option value="RI" >RI</option>
                                            <option value="SC" >SC</option>
                                            <option value="SD" >SD</option>
                                            <option value="TN" >TN</option>
                                            <option value="TX" >TX</option>
                                            <option value="UT" >UT</option>
                                            <option value="VA" >VA</option>
                                            <option value="WA" >WA</option>
                                            <option value="WI" >WI</option>
                                            <option value="WV" >WV</option>
                                            <option value="WY" >WY</option>
                                            <option value="Others" >Others</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="Zipcode *" name="postal_code">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required,email" placeholder="Email *" name="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style" data-rule="required" placeholder="Phone *" name="mobile">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style age" data-rule="required" placeholder="Age *" name="age">
                                    </div>
                                </div>
                                <style>


                                    .ws-ft-f {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws-ft {
                                        position: absolute;
                                        right: 65%;
                                        top: 19%;
                                        font-size: 18px;
                                        color: #999;
                                    }
                                    .ws-in-f {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws-in{
                                        position: absolute;
                                        right: 22%;
                                        top: 19%;
                                        font-size: 18px;
                                        color: #999;
                                    }
                                    .ws_weight_f {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws_weight {
                                        position: absolute;
                                        top: 19%;
                                        right: 18%;
                                        font-size: 18px;
                                        color: #999;
                                    }

                                </style>
                                <div class="col-lg-8 col-md-4">
                                    <!--                                    <label class="form-group" style="padding-left: 20px;font-size: 18px;color: #666">Height *</label>-->
                                    <div class="form-group mb-20">
                                        <select class="form-control select-icon select-event ws_select ws-ft-f "  name="height_ft" style="width: 40%">
                                            <option  value="0">0</option>
                                            <option  value="1">1</option>
                                            <option  value="2">2</option>
                                            <option  value="3">3</option>
                                            <option  value="4">4</option>
                                            <option  value="5">5</option>
                                            <option  value="6">6</option>
                                            <option  value="7">7</option>
                                        </select>
                                        <span class="ws-ft">
                                            ft
                                        </span>
                                        <select class="form-control  select-icon select-event ws_select ws-in-f"  name="height_in" style="width: 40%;margin-left: 20px" >
                                            <option  value="0">0</option>
                                            <option  value="1">1</option>
                                            <option  value="2">2</option>
                                            <option  value="3">3</option>
                                            <option  value="4">4</option>
                                            <option  value="5">5</option>
                                            <option  value="6">6</option>
                                            <option  value="7">7</option>
                                            <option  value="8">8</option>
                                            <option  value="9">9</option>
                                            <option  value="10">10</option>
                                            <option  value="11">11</option>
                                        </select>
                                        <span class="ws-in">
                                            in
                                        </span>
                                        <!--                                        <input type="text" class="form_style" data-rule="required" placeholder="Height *" name="height">-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style ws_weight_f" data-rule="required" placeholder="Weight *" name="weight">
                                        <span class="ws_weight">lb</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <label class="form-group" style="font-size: 18px;color: #666">Are you married or living with a long term relationship partner? *</label>
                                    <style>
                                        .ws_group {
                                            height: 54px !important;
                                        }
                                        .ws_radio {

                                            display: inline-block;
                                            position: relative;
                                            margin-top: 10px;
                                            margin-left: 20px;
                                            margin-bottom: 10px !important;
                                            color: #666;
                                        }

                                    </style>
                                    <div class="form-group ws_group">
                                        <div class="ws_radio">
                                            <input  type="radio" data-rule="checked" name="marital_status" value="1"
                                                    style="width: 20px;height: 20px">
                                            <label >Yes</label>
                                        </div>
                                        <div class="ws_radio">
                                            <input  type="radio" data-rule="checked" name="marital_status" value="2"
                                                    style="width: 20px;height: 20px">
                                            <label >No</label>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <label class="form-group" style="font-size: 18px;color: #666">Are you an US citizen or permanent resident of US? *</label>
                                    <div class="form-group ws_group">
                                        <div class="ws_radio">
                                            <input  type="radio" data-rule="checked" name="is_us" value="1"
                                                    style="width: 20px;height: 20px">
                                            <label >Yes</label>
                                        </div>
                                        <div class="ws_radio">
                                            <input  type="radio" data-rule="checked" name="is_us" value="2"
                                                    style="width: 20px;height: 20px">
                                            <label >No</label>
                                        </div>

                                    </div>

                                </div>

                                <!--                                <div class="col-lg-12 col-md-12" style="margin-bottom: 20px" >-->
                                <!--                                    <div class="form-group specia">-->
                                <!--                                        <select class="form-control select-icon select-event ws_select" name="marital_status">-->
                                <!--                                            <option  value="">Select Marital status *</option>-->
                                <!--                                            <option  value="0" >single</option>-->
                                <!--                                            <option  value="1" >married</option>-->
                                <!--                                            <option  value="2" >divorced</option>-->
                                <!--                                            <option  value="2" >long-term relationship</option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="tel" class="form_style" data-rule="required" placeholder="Number of natural birth *" name="product_number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style " data-rule="required" placeholder="Number of caesarean sections *" name="caesarean_number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style " data-rule="required" placeholder="Number of miscarriages *" name="miscarriage_number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form_style " data-rule="required" placeholder="Number of abortions *" name="abortion_number">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-0">
                                        <textarea class="form_style" data-rule="required" placeholder="If there is any miscarriage/abortion, please give a brief reason *" rows="3" name="abortion_reason"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-0">
                                        <textarea class="form_style" data-rule="required" placeholder="Is there any complications during pregnancy or childbirth *" rows="3" name="complications_of_pregnancy"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group mb-0">
                                        <textarea class="form_style" data-rule="required" placeholder="Current contraceptive method *" rows="3" name="contraceptive_measures"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" form-group mb-0">
                                        <textarea class="form_style" data-rule="required" placeholder="How did you hear about us? *" rows="3" name="about_content"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form_button_wrapper text-center " >
                                <button type="submit" class="appointment-btn">Submit form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact-details-section -->
<section class="contact-details-section-outer">
    <figure class="design-img mb-0">
        <img src="__CDN__/assets/bridely/assets/images/categories-img6.png" alt="" class="">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-images">
                    <figure class="design-img-hearts mb-0">
                        <img src="__CDN__/assets/bridely/assets/images/contact-details-hearts.png" alt="" class="star">
                    </figure>
                </div>
                <h5 class="autorix-text aos-init aos-animate"><span class="ityped">Contact with Us</span><span class="ityped-cursor">|</span></h5>
                <h2 class="aos-init aos-animate">Contact Details</h2>
            </div>
        </div>
    </div>
</section>
<div class="contact-details-section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="carts_outer float-left w-100">
                    <div class="carts">
                        <ul class="list-unstyled">
                            <li class="first">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img1.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Phone:</span>
                                    <a href="tel:424-350-1476" class="text-decoration-none profession phone-number"> 424-350-1476  </a>
                                    <!--                                    <a href="tel:+(321)111456789"  class="text-decoration-none profession phone-number"> +(321) 111 456 789</a>-->
                                </div>
                            </li>
                            <li class="second">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img2.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Address:</span>
                                    <span class="profession">3655 Torrance Blvd,Torrance, CA 90503, US</span>
                                </div>
                            </li>
                            <li class="third">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img3.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Email:</span>
                                    <a href="mailto:info@dopusa.com" class="text-decoration-none profession">info@dopusa.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- map-section -->

<div class="footer-section">
    <div class="footer-inner">
        <figure class="mb-0 footer-hearts">
            <img src="__CDN__/assets/bridely/assets/images/footer-birds-img.png" alt="" class="star">
        </figure>
        <div class="footer-msg floating-chat">
            <figure class="mb-0 footer-chat-img">
                <img src="__CDN__/assets/bridely/assets/images/footer-chat-img.png" alt="">
            </figure>
        </div>
        <!--        <div class="container">-->
        <!--            <div class="footer-content-box">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>-->
        <!--                    <div class="col-lg-5 col-md-6 col-sm-12">-->
        <!--                        <h3 class="planning-h3">Let’s Start Planning!</h3>-->
        <!--                    </div>-->
        <!--                    <div class="col-lg-6 col-md-6 col-sm-12">-->
        <!--                        <div class="banner-btn discover-btn-banner">-->
        <!--                            <a href="about.html" class="text-decoration-none"><i class="fa fa-clipboard-list"></i>Make Reservations</a>-->
        <!--                        </div>-->
        <!--                        <div class="learn-btn">-->
        <!--                            <a href="about.html" class="text-decoration-none">learn more</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="row">-->
        <!--                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">-->
        <!--                    <div class="footer-right-box">-->
        <!--                        <a href="index.html" class="text-decoration-none">-->
        <!--                            <figure class="footer-logo"><img src="__CDN__/assets/bridely/assets/images/footer-logo.png" alt="" class="img-fluid"></figure>-->
        <!--                        </a>-->
        <!--                        <p class="footer-section-text">Lorem ipsum dolor sit amet, consectetur adipg iscing elitsed do eiusmod tempororem ipsumf dolor sit ame consect amet.</p>-->
        <!--                        <ul class="list-unstyled footer-social-icons">-->
        <!--                            <li class="list-item">-->
        <!--                                <a href="#"><i class="fa-brands fa-facebook-f marginLeft facebook"></i></a>-->
        <!--                                <a href="#"><i class="fa-brands fa-twitter marginLeft twiter"></i></a>-->
        <!--                                <a href="#"><i class="fa-brands fa-linkedin-in marginLeft linkedin"></i></a>-->
        <!--                                <a href="#"><i class="fa-solid fa-g marginLeft gmil"></i></a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>-->
        <!--                <div class="col-xl-3 col-lg-4 col-md-2 col-sm-12 d-lg-block d-none">-->
        <!--                    <div class="company-text">-->
        <!--                        <p class="company-title">Company</p>-->
        <!--                        <ul class="list-unstyled footer-ul1">-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="about.html" class="text-decoration-none footer-link-p">-->
        <!--                                    About-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="services.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Services-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="gallery.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Gallery-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="organizer.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Organizer-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                        <ul class="list-unstyled footer-ul2">-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="index.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Home-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="pricing.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Pricing-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="contact.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Contact Us-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="single_gallery.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Gallery Single-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-lg-3 col-md-6 col-sm-12 d-md-block d-none">-->
        <!--                    <div class="footer-list footer-link contact-list">-->
        <!--                        <div class="icon-list-box1">-->
        <!--                            <ul class="list-unstyled contact-us-ul">-->
        <!--                                <li class="list-item">-->
        <!--                                    <i class="fa-sharp fa-solid fa-phone-volume footer-location3"></i>-->
        <!--                                    <p class="contact-title">Call Us: </p>-->
        <!--                                    <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">(123)456-789-00</a>-->
        <!--                                </li>-->
        <!--                                <li class="list-item">-->
        <!--                                    <i class="fa fa-envelope footer-location3"></i>-->
        <!--                                    <p class="contact-title">Email Us:</p>-->
        <!--                                    <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">help@bridely.com</a>-->
        <!--                                </li>-->
        <!--                            </ul>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-lg-5 col-md-6 col-sm-12">-->

        <!--                </div>-->
        <!--                <div class="col-lg-7 col-md-6 col-sm-12">-->
        <!--                    <p class="footer-end-text">Copyright ©2022 bridely.com All Rights <a href="http://www.bootstrapMB.com">bootstrapMB</a></p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>

<script src="__CDN__/assets/bridely/assets/js/jquery-3.6.0.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/animations.js"></script>
<script src="__CDN__/assets/bridely/assets/js/bootstrap.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/jquery-3.6.0.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/popper.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/owl.carousel.js"></script>
<!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/aos.js"></script>
<script src="__CDN__/assets/bridely/assets/js/text-animations.js"></script>
<script src="__CDN__/assets/bridely/assets/js/carousel.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/jquery.magnific-popup.js"></script>
<!--<script src="https://unpkg.com/ityped@0.0.10"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/ityped.min.js"></script>




<script src="__CDN__/assets/bridely/assets/js/type.js"></script>
<script src="__CDN__/assets/bridely/assets/js/custom-script.js"></script>
<script src="__CDN__/assets/bridely/assets/js/video-popup.js"></script>

<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.js"></script>
<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.en.js"></script>
<script src="__CDN__/assets/koho/assets/js/datepicker/date-picker/datepicker.custom.js"></script>


<script src="/assets/js/require.js" data-main="/assets/js/require-frontend.js?v=1682323438"></script>

<script>
    $('.birthday_time').blur(function () {
        var btime = $('.birthday_time').val()
        if (btime){
            var date1 = btime
            date1 =  date1.split('/');

            date1 = date1[2]+'-'+date1[0]+'-'+date1[1];
            var age = getAge(date1);
            console.log(age)
            $('.age').val(age)
        }
    })
    function getAge(strAge) {
        var birArr = strAge.split("-");
        var birYear = birArr[0];
        var birMonth = birArr[1];
        var birDay = birArr[2];

        d = new Date();
        var nowYear = d.getFullYear();
        var nowMonth = d.getMonth() + 1; //记得加1
        var nowDay = d.getDate();
        var returnAge;

        if (birArr == null) {
            return false
        };
        var d = new Date(birYear, birMonth - 1, birDay);
        if (d.getFullYear() == birYear && (d.getMonth() + 1) == birMonth && d.getDate() == birDay) {
            if (nowYear == birYear) {
                returnAge = 0; //
            } else {
                var ageDiff = nowYear - birYear; //
                if (ageDiff > 0) {
                    if (nowMonth == birMonth) {
                        var dayDiff = nowDay - birDay; //
                        if (dayDiff < 0) {
                            returnAge = ageDiff - 1;
                        } else {
                            returnAge = ageDiff;
                        }
                    } else {
                        var monthDiff = nowMonth - birMonth; //
                        if (monthDiff < 0) {
                            returnAge = ageDiff - 1;
                        } else {
                            returnAge = ageDiff;
                        }
                    }
                } else {
                    return  "出生日期晚于今天，数据有误"; //返回-1 表示出生日期输入错误 晚于今天
                }
            }
            return returnAge;
        } else {
            return ("输入的日期格式错误！");
        }
    }


</script>

</body>

</html>