<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think you | Dreams of Parenthood(DOP) Surrogate in Los Angeles</title>

    <!--    css开始-->
    {include file="common/css" /}
    <!--    css结束-->

</head>

<body>
<!-- HEADER-SECTION -->
<div class="home-header-section sub-header-section">
    <!--    header开始-->
    {include file="common/header" /}
    <!--    header结束-->

    <!-- BANNER-SECTION -->
    <div class="home-banner-section overflow-hidden position-relative sub-baner">
        <figure class="banner-img1 mb-0">
            <img src="__CDN__/assets/bridely/assets/images/banner-img1.png" alt="" class="star">
        </figure>
        <figure class="banner-img2 mb-0">
            <img src="__CDN__/assets/bridely/assets/images/banner-img2.png" alt="" class="star">
        </figure>
        <div class="banner-container-box contact-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-1">
                        <div class="home-banner-text position-relative sub-banner-section" data-aos="fade-up" id="myContentDIV">
<!--                            <h1>Be a <span class="h1-text"> submitting!</span></h1>-->
                            <h1>  <span class="h1-text">Thank you!</span></h1>
                            <P>
                                Thank you for submitting. After our employees review, we will notify you as soon as possible. Please check your email!
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Get-in-touch  -->
</div>


<section class="contact-details-section-outer">
    <figure class="design-img mb-0">
        <img src="__CDN__/assets/bridely/assets/images/categories-img6.png" alt="" class="">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-images">
                    <figure class="design-img-hearts mb-0">
                        <img src="__CDN__/assets/bridely/assets/images/contact-details-hearts.png" alt="" class="star">
                    </figure>
                </div>
                <h5 class="autorix-text aos-init aos-animate"><span class="ityped">Contact with Us</span><span class="ityped-cursor">|</span></h5>
                <h2 class="aos-init aos-animate">Contact Details</h2>
            </div>
        </div>
    </div>
</section>
<div class="contact-details-section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="carts_outer float-left w-100">
                    <div class="carts">
                        <ul class="list-unstyled">
                            <li class="first">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img1.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Phone:</span>
                                    <a href="tel:424-350-1476" class="text-decoration-none profession phone-number"> 424-350-1476  </a>
                                    <!--                                    <a href="tel:+(321)111456789"  class="text-decoration-none profession phone-number"> +(321) 111 456 789</a>-->
                                </div>
                            </li>
                            <li class="second">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img2.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Address:</span>
                                    <span class="profession">3655 Torrance Blvd,Torrance, CA 90503, US</span>
                                </div>
                            </li>
                            <li class="third">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img3.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Email:</span>
                                    <a href="mailto:info@dopusa.com" class="text-decoration-none profession">info@dopusa.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- map-section -->

<div class="footer-section">
    <div class="footer-inner">
        <figure class="mb-0 footer-hearts">
            <img src="__CDN__/assets/bridely/assets/images/footer-birds-img.png" alt="" class="star">
        </figure>
        <div class="footer-msg floating-chat">
            <figure class="mb-0 footer-chat-img">
                <img src="__CDN__/assets/bridely/assets/images/footer-chat-img.png" alt="">
            </figure>
        </div>
        <!--        <div class="container">-->
        <!--            <div class="footer-content-box">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>-->
        <!--                    <div class="col-lg-5 col-md-6 col-sm-12">-->
        <!--                        <h3 class="planning-h3">Let’s Start Planning!</h3>-->
        <!--                    </div>-->
        <!--                    <div class="col-lg-6 col-md-6 col-sm-12">-->
        <!--                        <div class="banner-btn discover-btn-banner">-->
        <!--                            <a href="about.html" class="text-decoration-none"><i class="fa fa-clipboard-list"></i>Make Reservations</a>-->
        <!--                        </div>-->
        <!--                        <div class="learn-btn">-->
        <!--                            <a href="about.html" class="text-decoration-none">learn more</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="row">-->
        <!--                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">-->
        <!--                    <div class="footer-right-box">-->
        <!--                        <a href="index.html" class="text-decoration-none">-->
        <!--                            <figure class="footer-logo"><img src="__CDN__/assets/bridely/assets/images/footer-logo.png" alt="" class="img-fluid"></figure>-->
        <!--                        </a>-->
        <!--                        <p class="footer-section-text">Lorem ipsum dolor sit amet, consectetur adipg iscing elitsed do eiusmod tempororem ipsumf dolor sit ame consect amet.</p>-->
        <!--                        <ul class="list-unstyled footer-social-icons">-->
        <!--                            <li class="list-item">-->
        <!--                                <a href="#"><i class="fa-brands fa-facebook-f marginLeft facebook"></i></a>-->
        <!--                                <a href="#"><i class="fa-brands fa-twitter marginLeft twiter"></i></a>-->
        <!--                                <a href="#"><i class="fa-brands fa-linkedin-in marginLeft linkedin"></i></a>-->
        <!--                                <a href="#"><i class="fa-solid fa-g marginLeft gmil"></i></a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>-->
        <!--                <div class="col-xl-3 col-lg-4 col-md-2 col-sm-12 d-lg-block d-none">-->
        <!--                    <div class="company-text">-->
        <!--                        <p class="company-title">Company</p>-->
        <!--                        <ul class="list-unstyled footer-ul1">-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="about.html" class="text-decoration-none footer-link-p">-->
        <!--                                    About-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="services.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Services-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="gallery.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Gallery-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="organizer.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Organizer-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                        <ul class="list-unstyled footer-ul2">-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="index.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Home-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="pricing.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Pricing-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="contact.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Contact Us-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li>-->
        <!--                                <i class="fa-solid fa-caret-right"></i>-->
        <!--                                <a href="single_gallery.html" class="text-decoration-none footer-link-p">-->
        <!--                                    Gallery Single-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-lg-3 col-md-6 col-sm-12 d-md-block d-none">-->
        <!--                    <div class="footer-list footer-link contact-list">-->
        <!--                        <div class="icon-list-box1">-->
        <!--                            <ul class="list-unstyled contact-us-ul">-->
        <!--                                <li class="list-item">-->
        <!--                                    <i class="fa-sharp fa-solid fa-phone-volume footer-location3"></i>-->
        <!--                                    <p class="contact-title">Call Us: </p>-->
        <!--                                    <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">(123)456-789-00</a>-->
        <!--                                </li>-->
        <!--                                <li class="list-item">-->
        <!--                                    <i class="fa fa-envelope footer-location3"></i>-->
        <!--                                    <p class="contact-title">Email Us:</p>-->
        <!--                                    <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">help@bridely.com</a>-->
        <!--                                </li>-->
        <!--                            </ul>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-lg-5 col-md-6 col-sm-12">-->

        <!--                </div>-->
        <!--                <div class="col-lg-7 col-md-6 col-sm-12">-->
        <!--                    <p class="footer-end-text">Copyright ©2022 bridely.com All Rights <a href="http://www.bootstrapMB.com">bootstrapMB</a></p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<!-- map-section -->


<script src="__CDN__/assets/bridely/assets/js/jquery-3.6.0.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/animations.js"></script>
<script src="__CDN__/assets/bridely/assets/js/bootstrap.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/jquery-3.6.0.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/popper.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/owl.carousel.js"></script>
<!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/aos.js"></script>
<script src="__CDN__/assets/bridely/assets/js/text-animations.js"></script>
<script src="__CDN__/assets/bridely/assets/js/carousel.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/jquery.magnific-popup.js"></script>
<!--<script src="https://unpkg.com/ityped@0.0.10"></script>-->
<script src="__CDN__/assets/bridely/assets/cdn/ityped.min.js"></script>
<script src="__CDN__/assets/bridely/assets/js/type.js"></script>
<script src="__CDN__/assets/bridely/assets/js/custom-script.js"></script>
<script src="__CDN__/assets/bridely/assets/js/video-popup.js"></script>

<script src="/assets/js/require.js" data-main="/assets/js/require-frontend.js?v=1682323438"></script>
</body>

</html>