<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" class="form-control" name="row[uid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Anemia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-anemia" class="form-control" name="row[anemia]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Acne')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-acne" class="form-control" name="row[acne]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Allergies')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-allergies" class="form-control" name="row[allergies]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Arthritis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-arthritis" class="form-control" name="row[arthritis]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alzheimer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alzheimer" class="form-control" name="row[alzheimer]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alcoholism')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alcoholism" class="form-control" name="row[alcoholism]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Blibdness')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-blibdness" class="form-control" name="row[blibdness]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Birth')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-birth" class="form-control" name="row[birth]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cancer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cancer" class="form-control" name="row[cancer]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cerrbral')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cerrbral" class="form-control" name="row[cerrbral]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chronic')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-chronic" class="form-control" name="row[chronic]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cystic')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cystic" class="form-control" name="row[cystic]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color" class="form-control" name="row[color]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cataracts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cataracts" class="form-control" name="row[cataracts]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cleft')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cleft" class="form-control" name="row[cleft]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deafness')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deafness" class="form-control" name="row[deafness]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Down')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-down" class="form-control" name="row[down]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dwarfism')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dwarfism" class="form-control" name="row[dwarfism]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endometriosis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endometriosis" class="form-control" name="row[endometriosis]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eczema')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eczema" class="form-control" name="row[eczema]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emphysema')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emphysema" class="form-control" name="row[emphysema]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Epliepsy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-epliepsy" class="form-control" name="row[epliepsy]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Heart')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-heart" class="form-control" name="row[heart]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hypo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hypo" class="form-control" name="row[hypo]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hepatitis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hepatitis" class="form-control" name="row[hepatitis]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hyperactivity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hyperactivity" class="form-control" name="row[hyperactivity]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hemophilia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hemophilia" class="form-control" name="row[hemophilia]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('High')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-high" class="form-control" name="row[high]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hiv')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hiv" class="form-control" name="row[hiv]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kidney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kidney" class="form-control" name="row[kidney]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Liver')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-liver" class="form-control" name="row[liver]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lung')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lung" class="form-control" name="row[lung]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mental')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mental" class="form-control" name="row[mental]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Migranes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-migranes" class="form-control" name="row[migranes]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Muscular')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-muscular" class="form-control" name="row[muscular]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Multiple')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-multiple" class="form-control" name="row[multiple]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meningitis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-meningitis" class="form-control" name="row[meningitis]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ovarian')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ovarian" class="form-control" name="row[ovarian]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Osteoporosis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-osteoporosis" class="form-control" name="row[osteoporosis]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sickle')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sickle" class="form-control" name="row[sickle]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spina')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spina" class="form-control" name="row[spina]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stroke')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stroke" class="form-control" name="row[stroke]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thalassemia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-thalassemia" class="form-control" name="row[thalassemia]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ulcers')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ulcers" class="form-control" name="row[ulcers]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
