<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" class="form-control" name="row[uid]" type="number" value="{$row.uid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Anemia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-anemia" class="form-control" name="row[anemia]" type="text" value="{$row.anemia|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Acne')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-acne" class="form-control" name="row[acne]" type="text" value="{$row.acne|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Allergies')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-allergies" class="form-control" name="row[allergies]" type="text" value="{$row.allergies|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Arthritis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-arthritis" class="form-control" name="row[arthritis]" type="text" value="{$row.arthritis|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alzheimer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alzheimer" class="form-control" name="row[alzheimer]" type="text" value="{$row.alzheimer|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alcoholism')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alcoholism" class="form-control" name="row[alcoholism]" type="text" value="{$row.alcoholism|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Blibdness')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-blibdness" class="form-control" name="row[blibdness]" type="text" value="{$row.blibdness|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Birth')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-birth" class="form-control" name="row[birth]" type="text" value="{$row.birth|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cancer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cancer" class="form-control" name="row[cancer]" type="text" value="{$row.cancer|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cerrbral')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cerrbral" class="form-control" name="row[cerrbral]" type="text" value="{$row.cerrbral|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chronic')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-chronic" class="form-control" name="row[chronic]" type="text" value="{$row.chronic|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cystic')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cystic" class="form-control" name="row[cystic]" type="text" value="{$row.cystic|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color" class="form-control" name="row[color]" type="text" value="{$row.color|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cataracts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cataracts" class="form-control" name="row[cataracts]" type="text" value="{$row.cataracts|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cleft')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cleft" class="form-control" name="row[cleft]" type="text" value="{$row.cleft|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deafness')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deafness" class="form-control" name="row[deafness]" type="text" value="{$row.deafness|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Down')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-down" class="form-control" name="row[down]" type="text" value="{$row.down|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dwarfism')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dwarfism" class="form-control" name="row[dwarfism]" type="text" value="{$row.dwarfism|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endometriosis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endometriosis" class="form-control" name="row[endometriosis]" type="text" value="{$row.endometriosis|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eczema')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eczema" class="form-control" name="row[eczema]" type="text" value="{$row.eczema|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emphysema')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emphysema" class="form-control" name="row[emphysema]" type="text" value="{$row.emphysema|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Epliepsy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-epliepsy" class="form-control" name="row[epliepsy]" type="text" value="{$row.epliepsy|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Heart')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-heart" class="form-control" name="row[heart]" type="text" value="{$row.heart|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hypo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hypo" class="form-control" name="row[hypo]" type="text" value="{$row.hypo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hepatitis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hepatitis" class="form-control" name="row[hepatitis]" type="text" value="{$row.hepatitis|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hyperactivity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hyperactivity" class="form-control" name="row[hyperactivity]" type="text" value="{$row.hyperactivity|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hemophilia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hemophilia" class="form-control" name="row[hemophilia]" type="text" value="{$row.hemophilia|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('High')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-high" class="form-control" name="row[high]" type="text" value="{$row.high|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hiv')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hiv" class="form-control" name="row[hiv]" type="text" value="{$row.hiv|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kidney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kidney" class="form-control" name="row[kidney]" type="text" value="{$row.kidney|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Liver')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-liver" class="form-control" name="row[liver]" type="text" value="{$row.liver|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lung')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lung" class="form-control" name="row[lung]" type="text" value="{$row.lung|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mental')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mental" class="form-control" name="row[mental]" type="text" value="{$row.mental|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Migranes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-migranes" class="form-control" name="row[migranes]" type="text" value="{$row.migranes|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Muscular')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-muscular" class="form-control" name="row[muscular]" type="text" value="{$row.muscular|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Multiple')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-multiple" class="form-control" name="row[multiple]" type="text" value="{$row.multiple|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meningitis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-meningitis" class="form-control" name="row[meningitis]" type="text" value="{$row.meningitis|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ovarian')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ovarian" class="form-control" name="row[ovarian]" type="text" value="{$row.ovarian|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Osteoporosis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-osteoporosis" class="form-control" name="row[osteoporosis]" type="text" value="{$row.osteoporosis|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sickle')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sickle" class="form-control" name="row[sickle]" type="text" value="{$row.sickle|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spina')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spina" class="form-control" name="row[spina]" type="text" value="{$row.spina|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stroke')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stroke" class="form-control" name="row[stroke]" type="text" value="{$row.stroke|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thalassemia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-thalassemia" class="form-control" name="row[thalassemia]" type="text" value="{$row.thalassemia|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ulcers')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ulcers" class="form-control" name="row[ulcers]" type="text" value="{$row.ulcers|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
