<link href="/assets/css/frontend.css?v=1682323438" rel="stylesheet">
<script type="text/javascript">
    var require = {
        config: {"site":{"name":"\u6211\u7684\u7f51\u7ad9","cdnurl":"","version":1682323438,"timezone":"Asia\/Shanghai","languages":{"backend":"zh-cn","frontend":"zh-cn"}},"upload":{"cdnurl":"","uploadurl":"\/index\/ajax\/upload","bucket":"local","maxsize":"10mb","mimetype":"*","chunking":false,"chunksize":2097152,"savekey":"\/uploads\/{year}{mon}{day}\/{filemd5}{.suffix}","multipart":[],"multiple":false,"fullmode":false,"thumbstyle":"","storage":"local"},"modulename":"index","controllername":"user","actionname":"pre_screen","jsname":"frontend\/user","moduleurl":"\/index","language":"zh-cn","__PUBLIC__":"\/","__ROOT__":"\/","__CDN__":""}    };
</script>
<link rel="manifest" href="__CDN__/assets/bridely/assets/images/favicons/manifest.json">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/style.css">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/mobile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/cdn/all.min.css">
<link href="__CDN__/assets/bridely/assets/cdn/aos.css" rel="stylesheet">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="__CDN__/assets/bridely/assets/cdn/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/date-picker.css">
<style>
    .contact-form-img {
        margin-left: 18px;
    }
    .form-group input,.form-group select,.form-group textarea {
        border: 1px solid #e7e7e7 !important;
        border-radius: 6px !important;
        color: #000 !important;
        font-weight: 400 !important;
    }
    .appointment-btn {
        border-radius: 6px !important;
    }
    .form-group input:focus {
        border: 1px solid #d51243 !important;
        outline: 0 !important;
    }
    .form-group  .form_style{
        background-color: #fff !important;
    }
    /*调色*/
    .header-top {
        background-color: #CC3B68;
    }
    .header {
        background-color: #fff;
    }
    .banner-container-box {
        background-color: #fff ;
    }
    .get-in-touch {
        background-color: #F1F5F7 ;
    }
    .contact-details-section-outer {
        background-color: #fff ;
    }
    .contact-details-section .first figure {
        background-color: #CC3B68;
    }
    .contact-details-section .second figure{
        background-color: #CC3B68;
    }
    .contact-details-section .third figure{
        background-color: #CC3B68;
    }
    .send_message_form_box_content {
        background-color: #F1F5F7 !important;
    }
    .get-in-touch .send_message_form_box_content input {
        background-color: #fff;
    }
    .appointment-btn {
        background-color: #CC3B68 !important;
    }
    .datepicker--nav-action {
        background-color: #CC3B68 !important;
    }
    .navbar-nav {
        /*background-color: #CC3B68 ;*/
    }
    .home-header-section  .main-header .navbar-collapse .navbar-nav a:hover {
        color: #CC3B68;
    }
</style>
<style>
    .form-label {
        font-weight: 600;
        font-size: 16px;
        color: #2b2b2b !important;
    }
    body{
        padding: 0px !important;
    }
    .main-header .navbar {
        margin: 0px !important;
    }
    .n-default .n-left, .n-default .n-right {
        margin-top: -8px !important;
    }
</style>
<style>
    @media screen and (max-width: 1440px){
        .home-banner-section .banner-container-box .home-banner-text {
            margin-top: 0px !important;
        }
    }
    .get-in-touch {
        padding-top: 40px;
    }
    .ws_select {
        color: #999;
        padding-left: 18px;
        font-size: 16px;
        height: 54px;
        border-radius: 50px !important;
    }
    .sub-banner-section p {
        padding: 0 10% !important;
    }
    .sub-baner {
        padding: 0px !important;
    }
    .get-in-touch {
        padding-top: 50px;
    }
    /* phone */
    @media only screen and (min-width:960px) {
        .send_message_form_box_content {
            margin-left: 14% !important;
        }
    }

</style>
<style>
    .ws-ft-f {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .ws-ft {
        position: absolute;
        right: 65%;
        top: 42%;
        font-size: 18px;
        color: #999;
    }
    .ws-in-f {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .ws-in{
        position: absolute;
        right: 22%;
        top: 42%;
        font-size: 18px;
        color: #999;
    }
    .ws_weight_f {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;
    }
    .ws_weight {
        position: absolute;
        top: 42%;
        right: 18%;
        font-size: 18px;
        color: #999;
    }

    .ws_group {
        display: flex;
        flex-direction: row;
        height: 35px !important;
    }
    .ws_radio {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    .radio {
        margin-right: 5px !important;
        width: 18px !important;
        height: 18px !important;
    }
    .ws_r {
        margin-top: 2px !important;
    }
</style>