<!-- contact-details-section -->
<section class="contact-details-section-outer">
    <figure class="design-img mb-0">
        <img src="__CDN__/assets/bridely/assets/images/categories-img6.png" alt="" class="">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-images">
                    <figure class="design-img-hearts mb-0">
                        <img src="__CDN__/assets/bridely/assets/images/contact-details-hearts.png" alt="" class="star">
                    </figure>
                </div>
                <h5 class="autorix-text aos-init aos-animate"><span class="ityped">Contact with Us</span><span class="ityped-cursor">|</span></h5>
                <h2 class="aos-init aos-animate">Contact Details</h2>
            </div>
        </div>
    </div>
</section>
<div class="contact-details-section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="carts_outer float-left w-100">
                    <div class="carts">
                        <ul class="list-unstyled">
                            <li class="first">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img1.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Phone:</span>
                                    <a href="tel:424-350-1476" class="text-decoration-none profession phone-number"> 424-350-1476  </a>
                                    <!--                                    <a href="tel:+(321)111456789"  class="text-decoration-none profession phone-number"> +(321) 111 456 789</a>-->
                                </div>
                            </li>
                            <li class="second">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img2.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Address:</span>
                                    <span class="profession">3655 Torrance Blvd,Torrance, CA 90503, US</span>
                                </div>
                            </li>
                            <li class="third">
                                <figure class="mb-0 d-inline-block"><img src="__CDN__/assets/bridely/assets/images/contact-detail-img3.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Email:</span>
                                    <a href="mailto:info@dopusa.com" class="text-decoration-none profession">info@dopusa.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- map-section -->

<div class="footer-section">
    <div class="footer-inner">
        <figure class="mb-0 footer-hearts">
            <img src="__CDN__/assets/bridely/assets/images/footer-birds-img.png" alt="" class="star">
        </figure>
        <div class="footer-msg floating-chat">
            <figure class="mb-0 footer-chat-img">
                <img src="__CDN__/assets/bridely/assets/images/footer-chat-img.png" alt="">
            </figure>
        </div>
    </div>
</div>