<div class="header-top header-top1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-md-block d-sm-none">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-right float-md-right float-none">
                    <ul class="list-unstyled">
                        <li class="d-inline-block"><a class="d-inline-block email-span text-decoration-none"
                                                      href="mailto:info@dopusa.com">Folllow us on:</a></li>
                        <a href="https://www.facebook.com/DreamsofParenthoodUSA" target="_blank">
                            <li class="d-inline-block user-li"><i class="fa-brands fa-facebook-f"></i></li>
                        </a>
                        <li class="d-inline-block user-li"><i class="fa-brands fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand pt-0" href="{:url('index/index/index',['aff'=>$aff])}"><img src="__CDN__/uploads/logo.png"
                                                                    alt="" class="img-fluid diverge-logo"></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                               href="{:url('index/index/index',['aff'=>$aff])}">Become a Surrogate<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                               href="{:url('index/index/donor',['aff'=>$aff])}">Be an Egg Donor<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-decoration-none navbar-text-color"
                               href="{:url('index/user/login',['aff'=>$aff])}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>