<!DOCTYPE html>
<html lang="en">
<head>
        <title>Photos | Dreams of Parenthood(DOP) Surrogate in Los Angeles</title>
        <!-- Page Head Start-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/font-awesome.css">
        <!-- ico-font-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/icofont.css">
        <!-- Themify icon-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/themify.css">
        <!-- Flag icon-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/flag-icon.css">
        <!-- Feather icon-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/feather-icon.css">
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/scrollbar.css">
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/animate.css">
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/prism.css">
        <!-- Bootstrap css-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/vendors/bootstrap.css">
        <!-- App css-->
        <link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version|htmlentities}" rel="stylesheet">
        <script type="text/javascript">
            var require = {
                config: {$config|json_encode}
            };
        </script>
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/style.css">
        <link id="color" rel="stylesheet" href="__CDN__/assets/koho/assets/css/color-1.css" media="screen">
        <!-- Responsive css-->
        <link rel="stylesheet" type="text/css" href="__CDN__/assets/koho/assets/css/responsive.css">

        <style>
            /*提示框*/
            @media only screen and (max-width: 575px){
                .alert-dismissible p {
                    max-width: 100% !important;
                }
            }
            .ws_tishi {
                margin: 0px;
                margin-top: -30px;
            }
            .fade {
                opacity: 1; !important;
            }
            .examine {
                pointer-events: none;
            }
            .form-control {
                height: 47px;
            }
            .progress {
                height: 10px;
            }
        </style>

        <style>
            .page-wrapper.compact-wrapper .page-body-wrapper .page-body {
                margin-top: 24px;
            }
            .ws_jindu {
                display: flex;
                justify-content: space-between;
            }
            .list-inline li {
                width: 125px;
            }
            .btn-trash {
                border-radius: 0px;
            }
            .ws_choose {
                margin-left: 10px !important;
                margin-top: 5px !important;
            }
            #faupload-images {
                margin-left: 10px !important;
                margin-top: 5px !important;
            }
            .ws_prodess {
                margin-top: 5px;width: 75%
            }

            @media only screen and (min-width:768px) and (max-width:992px) {
                .ws_prodess_r {
                    padding-left: 20px;
                }
            }
            /* phone */
            @media only screen and (max-width:767px) {
                .ws_prodess {
                    margin-top: 5px;width: 55%
                }
                .ws_prodess_r {
                    padding-left: 18px;
                }
                .input-group {
                    width: 80%;
                }
                .btn-danger {
                    padding: 0px !important;
                }
            }
        </style>

    </head>
<body>
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <!-- Page nav Start-->
    {include file="ws/nav" /}
    <!-- Page nav Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page menu Start-->
        {include file="ws/menu" /}
        <!-- Page menu Ends-->

        <!-- Page content Start-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h3>Photos</h3>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{:url('index/user/index')}">
                                    <i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Form</li>
                                <li class="breadcrumb-item active">Photos</li>
                            </ol>
                        </div>
                        <div class="col-12">

                            <div class="card-body progress-showcase">
                                <div class="ws_jindu">
                                    <div>
                                        {$form_number} required questions
                                    </div>
                                    <div class="col col-9 ws_prodess">
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {$lv}%"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="ws_prodess_r">
                                        {if condition="$row"} {$row.form_complate_number}/{$form_number} complate
                                        {else}
                                        0/{$form_number} complate
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {if condition="$examine_photos==1"}
            <div class="row ws_tishi">
                <div class="col-xl-6 ">
                    <div class="card-body">
                        <div class="alert alert-warning outline alert-dismissible fade show" role="alert"><i data-feather="bell"></i>
                            <p><b> Approved ! </b>You cannot make any changes</p>

                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            {/if}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h3>Please upload 5-10 your most recent selfies and full body pictures, 1-2 childhood pictures, and 1-2 short videos (within 30s).  </h3>
                            </div>
                            <div class="card-body">
                                <form class="row g-3
    {if condition="$examine_photos&&$examine_photos==1"} examine{/if}
" id="photos" method="POST" action="" role="form" onsubmit="return sumbit_sure()" >
                                    <input class="form-control" name="uid" type="hidden" value="{$uid}">
                                    <input class="form-control" id="form_complate_number" name="form_complate_number"
                                           type="hidden">
                                    <input class="form-control" name="status" type="hidden" value="0">
                                    <style>
                                        .card .card-body {
                                            padding:10px;
                                        }
                                    </style>
                                    <div class="card-header pb-0">
                                        <h4>Upload full body pictures *</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="c-images" class="form-control" size="50" name="full_images" ws-text="Upload full body pictures" type="text" data-rule="required"
                                                       {if condition="$row"} value="{$row.full_images|htmlentities}"{/if} >
                                                <div class="input-group-addon ws_choose no-border no-padding">
                                                    <span><button type="button" id="faupload-images" class="btn btn-warning faupload" data-input-id="c-images" data-mimetype="*" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i>Upload</button></span>
                                                    <!--                                                        <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> Choose</button></span>-->
                                                </div>
                                                <span class="msg-box n-right" for="c-images"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-inline faupload-preview" id="p-images" ></ul>
                                        </div>
                                    </div>

                                    <div class="card-header pb-0">
                                        <h4>Upload 1-2 childhood pictures</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="c-images2" class="form-control" size="50" name="child_images" ws-text="Upload 1-2 childhood pictures" type="text" data-rule="required"
                                                       {if condition="$row"} value="{$row.child_images|htmlentities}"{/if} >
                                                <div class="input-group-addon ws_choose no-border no-padding">
                                                    <span><button type="button" id="faupload-images2" class="btn btn-warning faupload" data-input-id="c-images2" data-mimetype="*" data-multiple="true" data-preview-id="p-images2"><i class="fa fa-upload"></i>Upload</button></span>
                                                </div>
                                                <span class="msg-box n-right" for="c-images2"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-inline faupload-preview" id="p-images2" ></ul>
                                        </div>
                                    </div>

                                    <div class="card-header pb-0">
                                        <h4>Upload 1-2 short videos (within 30s) *</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="c-images3" class="form-control" size="50" name="video_images" type="text" data-rule="required" ws-text="Upload 1-2 short videos (within 30s) "
                                                       {if condition="$row"} value="{$row.video_images|htmlentities}"{/if} >
                                                <div class="input-group-addon ws_choose no-border no-padding">
                                                    <span><button type="button" id="faupload-images3" class="btn btn-warning faupload" data-input-id="c-images3" data-mimetype="*" data-multiple="true" data-preview-id="p-images3"><i class="fa fa-upload"></i>Upload</button></span>
                                                </div>
                                                <span class="msg-box n-right" for="c-images3"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-inline faupload-preview" id="p-images3" ></ul>
                                        </div>
                                    </div>

                                    <div class="col-12" style="margin-left: 25px;">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
        <!-- Page content Ends-->
        <!-- Page js Start-->
        {include file="ws/js" /}
        <!-- Page js Ends -->
    </div>
</div>
</body>
<script>

    function sumbit_sure(){
        var parmas = $("#photos").find("input");
        var name_arr = ['full_images','video_images'];
        var j = 0;// 表单未完成数量
        var arr = [];// 表单未完成数组
        for(i=0;i<parmas.length;i++){
            var value = parmas[i].value;
            var name = $(parmas[i]).attr('name');
            if (name_arr.includes(name)&&value.length==0){
                j++;
                one = $(parmas[i]).attr('ws-text');
                arr.push(one);
            }
        }
        $('#form_complate_number').val(j);

        var html = "Are you sure you want to exit？\n";
        if (j>0){
            html += j+" mandatory field\n";
            if(j==1){
                html += "'"+arr[0]+"'\n," ;

            }else if(j==2){
                html += "'"+arr[0]+"',\n" ;
                html += "'"+arr[1]+"',\n" ;
            }else{
                html += "'"+arr[0]+"',\n" ;
                html += "'"+arr[1]+"',\n" ;
                html += "'"+arr[2]+"'...\n" ;
            }
            html += "Not filled in.\n";
            html += "\n";
        }

        html += "Please fill in relevant information.";

        var gnl=confirm(html);
        if (gnl==true){
            if (j==0){
                return true;
            }else {
                return false;
            }

        }else{
            return false;
        }
    }

</script>
</html>
