<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pre_screening | Dreams of Parenthood(DOP) Surrogate in Los Angeles</title>

    <!-- Page Head Start-->
    {include file="ws/css" /}
    <!-- Page Head Start-->

    <style>
        .ws_dis_no {
            display: none ;
        }
        .ws_prodess {
            margin-top: 5px;width: 75%
        }
        .page-wrapper.compact-wrapper .page-body-wrapper .page-body {
            margin-top: 24px;
        }
        .ws_jindu {
            display: flex;
            justify-content: space-between;
        }
        @media only screen and (min-width:768px) and (max-width:992px) {
            .ws_prodess_r {
                padding-left: 20px;
            }
        }
        /* phone */
        @media only screen and (max-width:767px) {
            .ws_prodess {
                margin-top: 5px;width: 55%
            }
            .ws_prodess_r {
                padding-left: 10px;
            }
        }
    </style>
</head>
<body>
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <!-- Page nav Start-->
    {include file="ws/nav" /}
    <!-- Page nav Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page menu Start-->
        {include file="ws/menu" /}
        <!-- Page menu Ends-->

        <!-- Page content Start-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-6">
                            <h3>Pre-screening</h3>
                        </div>
                        <div class="col-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">
                                    <i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Form</li>
                                <li class="breadcrumb-item active">Pre-screening      </li>
                            </ol>
                        </div>
                        <div class="col-12">

                            <div class="card-body progress-showcase">
                                <div class="ws_jindu">
                                    <div>
                                        {$form_number} required questions
                                    </div>
                                    <div class="col col-9 ws_prodess" >
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {$lv}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="ws_prodess_r">
                                        {if condition="$row"} {$row.form_complate_number}/{$form_number} complate
                                        {else}
                                        0/{$form_number} complate
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {if condition="$examine_pre_screen==1"}
            <div class="row ws_tishi">
                <div class="col-xl-6 ">
                    <div class="card-body">
                        <div class="alert alert-warning outline alert-dismissible fade show" role="alert"><i data-feather="bell"></i>
                            <p><b> Approved ! </b>You cannot make any changes</p>

                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            {/if}
            <!-- Container-fluid starts-->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h3>Application form for surrogate mother</h3>
                                <span>
                                    Thank you for your interest in becoming a surrogate mother. This brief admission form will help us quickly determine whether you meet the basic requirements of becoming a surrogate mother.
                                    <br/>
                                    After completion, you will have an expert contact you and discuss the surrogacy process in detail.

                                </span>
                            </div>
                            <div class="card-body">
                                <form class="row g-3 nice-validator n-default
{if condition="$examine_pre_screen&&$examine_pre_screen==1"} examine{/if}
                                " id="pre_screen" method="POST" action="" role="form" onsubmit="return sumbit_sure()">
                                <!--                                    {:token()}-->
                                <input class="form-control"  name="uid" type="hidden"  value="{$uid}" >
                                <input class="form-control"  id="form_complate_number" name="form_complate_number" type="hidden"  >
                                <input class="form-control"   name="status" type="hidden"  value="0">
                                <!--                                    <input class="form-control"   name="type" type="hidden"  value="2">-->
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >First name *</label>
                                    <input class="form-control"   name="first_name" type="text" data-rule="required" {if condition="$user"} value="{$user.first_name|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Middle name </label>
                                    <input class="form-control"   name="middle_name" type="text"  {if condition="$row"} value="{$row.middle_name|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label">Last name *</label>
                                    <input class="form-control"  name="last_name" type="text"  data-rule="required"  {if condition="$user"} value="{$user.last_name|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="form-label" >Date of birth *</label>
                                    <input name="birthday_time"  class="form-control datepicker-here  digits birthday_time" type="text" data-rule="required" data-language="en"
                                           {if condition="$row"} value="{$bir_time|htmlentities}"{/if}
                                    >
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="form-label" >Street Address *</label>
                                    <input class="form-control" name="address" type="text" data-rule="required" {if condition="$row"} value="{$row.address|htmlentities}"{/if}>
                                </div>

                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4 position-relative">
                                        <label class="form-label">City *</label>
                                        <input class="form-control" name="city" type="text" data-rule="required" {if condition="$row"} value="{$row.city|htmlentities}"{/if}>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                        <label class="form-label">State *</label>

                                        <select class="form-select" name="state" required="">
                                            <option  value="AK"{if condition="$row&&$row.state eq 'AK'"} selected{/if}>AK</option>
                                            <option value="AL" {if condition="$row&&$row.state eq 'AL'"} selected{/if}>AL</option>
                                            <option value="AR" {if condition="$row&&$row.state eq 'AR'"} selected{/if}>AR</option>

                                            <option value="AZ" {if condition="$row&&$row.state eq 'AZ'"} selected{/if}>AZ</option>
                                            <option value="CA" {if condition="$row&&$row.state eq 'CA'"} selected{/if}>CA</option>
                                            <option value="CO" {if condition="$row&&$row.state eq 'CO'"} selected{/if}>CO</option>
                                            <option value="CT" {if condition="$row&&$row.state eq 'CT'"} selected{/if}>CT</option>
                                            <option value="DC" {if condition="$row&&$row.state eq 'DC'"} selected{/if}>DC</option>
                                            <option value="DE" {if condition="$row&&$row.state eq 'DE'"} selected{/if}>DE</option>
                                            <option value="FL" {if condition="$row&&$row.state eq 'FL'"} selected{/if}>FL</option>
                                            <option value="GA" {if condition="$row&&$row.state eq 'GA'"} selected{/if}>GA</option>
                                            <option value="GU" {if condition="$row&&$row.state eq 'GU'"} selected{/if}>GU</option>
                                            <option value="HI" {if condition="$row&&$row.state eq 'HI'"} selected{/if}>HI</option>
                                            <option value="IA" {if condition="$row&&$row.state eq 'IA'"} selected{/if}>IA</option>
                                            <option value="ID" {if condition="$row&&$row.state eq 'ID'"} selected{/if}>ID</option>
                                            <option value="IL" {if condition="$row&&$row.state eq 'IL'"} selected{/if}>IL</option>
                                            <option value="IN" {if condition="$row&&$row.state eq 'IN'"} selected{/if}>IN</option>
                                            <option value="KS" {if condition="$row&&$row.state eq 'KS'"} selected{/if}>KS</option>
                                            <option value="KY" {if condition="$row&&$row.state eq 'KY'"} selected{/if}>KY</option>
                                            <option value="LA" {if condition="$row&&$row.state eq 'LA'"} selected{/if}>LA</option>
                                            <option value="MA" {if condition="$row&&$row.state eq 'MA'"} selected{/if}>MA</option>
                                            <option value="MD" {if condition="$row&&$row.state eq 'MD'"} selected{/if}>MD</option>
                                            <option value="ME" {if condition="$row&&$row.state eq 'ME'"} selected{/if}>ME</option>
                                            <option value="MI" {if condition="$row&&$row.state eq 'MI'"} selected{/if}>MI</option>
                                            <option value="MN" {if condition="$row&&$row.state eq 'MN'"} selected{/if}>MN</option>
                                            <option value="MO" {if condition="$row&&$row.state eq 'MO'"} selected{/if}>MO</option>
                                            <option value="MS" {if condition="$row&&$row.state eq 'MS'"} selected{/if}>MS</option>
                                            <option value="MT" {if condition="$row&&$row.state eq 'MT'"} selected{/if}>MT</option>
                                            <option value="NC" {if condition="$row&&$row.state eq 'NC'"} selected{/if}>NC</option>
                                            <option value="ND" {if condition="$row&&$row.state eq 'ND'"} selected{/if}>ND</option>
                                            <option value="NE" {if condition="$row&&$row.state eq 'NE'"} selected{/if}>NE</option>
                                            <option value="NH" {if condition="$row&&$row.state eq 'NH'"} selected{/if}>NH</option>
                                            <option value="NJ" {if condition="$row&&$row.state eq 'NJ'"} selected{/if}>NJ</option>
                                            <option value="NM" {if condition="$row&&$row.state eq 'NM'"} selected{/if}>NM</option>
                                            <option value="NV" {if condition="$row&&$row.state eq 'NV'"} selected{/if}>NV</option>
                                            <option value="NY" {if condition="$row&&$row.state eq 'NY'"} selected{/if}>NY</option>
                                            <option value="OH" {if condition="$row&&$row.state eq 'OH'"} selected{/if}>OH</option>
                                            <option value="OK" {if condition="$row&&$row.state eq 'OK'"} selected{/if}>OK</option>
                                            <option value="OR" {if condition="$row&&$row.state eq 'OR'"} selected{/if}>OR</option>
                                            <option value="PA" {if condition="$row&&$row.state eq 'PA'"} selected{/if}>PA</option>
                                            <option value="PR" {if condition="$row&&$row.state eq 'PR'"} selected{/if}>PR</option>
                                            <option value="RI" {if condition="$row&&$row.state eq 'RI'"} selected{/if}>RI</option>
                                            <option value="SC" {if condition="$row&&$row.state eq 'SC'"} selected{/if}>SC</option>
                                            <option value="SD" {if condition="$row&&$row.state eq 'SD'"} selected{/if}>SD</option>
                                            <option value="TN" {if condition="$row&&$row.state eq 'TN'"} selected{/if}>TN</option>
                                            <option value="TX" {if condition="$row&&$row.state eq 'TX'"} selected{/if}>TX</option>
                                            <option value="UT" {if condition="$row&&$row.state eq 'UT'"} selected{/if}>UT</option>
                                            <option value="VA" {if condition="$row&&$row.state eq 'VA'"} selected{/if}>VA</option>
                                            <option value="WA" {if condition="$row&&$row.state eq 'WA'"} selected{/if}>WA</option>
                                            <option value="WI" {if condition="$row&&$row.state eq 'WI'"} selected{/if}>WI</option>
                                            <option value="WV" {if condition="$row&&$row.state eq 'WV'"} selected{/if}>WV</option>
                                            <option value="WY" {if condition="$row&&$row.state eq 'WY'"} selected{/if}>WY</option>
                                            <option value="Others" {if condition="$row&&$row.state eq 'Others'"} selected{/if}>Others</option>
                                        </select>

                                    </div>
                                    <div class="col-md-4 position-relative">
                                        <label class="form-label" >Zip Code *</label>
                                        <input class="form-control"  type="text" data-rule="required" name="postal_code" {if condition="$row"} value="{$row.postal_code|htmlentities}"{/if}>
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Email *</label>
                                    <input class="form-control" type="text" data-rule="required,email" name="email" {if condition="$user"} value="{$user.email|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Phone *</label>
                                    <input class="form-control"  type="text" data-rule="required" name="mobile" {if condition="$user"} value="{$user.mobile|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Age *</label>
                                    <input class="form-control age" type="text" data-rule="required" name="age" {if condition="$row"} value="{$row.age|htmlentities}"{/if}>
                                </div>
                                <!--                                    <div class="row" style="margin-top: 10px;">-->

                                <style>
                                    .ws_input {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws_span {
                                        position: absolute;
                                        top: 55%;
                                        right: 15%;
                                    }
                                    .ws-ft-f {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws-ft {
                                        position: absolute;
                                        right: 67%;
                                        top: 55%;
                                    }
                                    .ws-in-f {
                                        position: relative;
                                        display: table;
                                        border-collapse: separate;
                                        width: 100%;
                                    }
                                    .ws-in{
                                        position: absolute;
                                        right: 22%;
                                        top: 55%;
                                    }
                                </style>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Height *</label>
                                    <div>
                                        <select class="form-select m-r-20 ws-ft-f" name="height_ft" required="" style="width: 40%" >
                                            <option value="0" {if condition="$row&&$row.height_ft eq '0'"} selected{/if}>0</option>
                                            <option value="1" {if condition="$row&&$row.height_ft eq '1'"} selected{/if}>1</option>
                                            <option value="2" {if condition="$row&&$row.height_ft eq '2'"} selected{/if}>2</option>
                                            <option value="3" {if condition="$row&&$row.height_ft eq '3'"} selected{/if}>3</option>
                                            <option value="4" {if condition="$row&&$row.height_ft eq '4'"} selected{/if}>4</option>
                                            <option value="5" {if condition="$row&&$row.height_ft eq '5'"} selected{/if}>5</option>
                                            <option value="6" {if condition="$row&&$row.height_ft eq '6'"} selected{/if}>6</option>
                                            <option value="7" {if condition="$row&&$row.height_ft eq '7'"} selected{/if}>7</option>

                                        </select>
                                        <span class="ws-ft">ft</span>
                                        <select class="form-select ws-in-f" name="height_in" required="" style="width: 40%">
                                            <option value="0" {if condition="$row&&$row.height_in eq '0'"} selected{/if}>0</option>
                                            <option value="1" {if condition="$row&&$row.height_in eq '1'"} selected{/if}>1</option>
                                            <option value="2" {if condition="$row&&$row.height_in eq '2'"} selected{/if}>2</option>
                                            <option value="3" {if condition="$row&&$row.height_in eq '3'"} selected{/if}>3</option>
                                            <option value="4" {if condition="$row&&$row.height_in eq '4'"} selected{/if}>4</option>
                                            <option value="5" {if condition="$row&&$row.height_in eq '5'"} selected{/if}>5</option>
                                            <option value="6" {if condition="$row&&$row.height_in eq '6'"} selected{/if}>6</option>
                                            <option value="7" {if condition="$row&&$row.height_in eq '7'"} selected{/if}>7</option>
                                            <option value="8" {if condition="$row&&$row.height_in eq '8'"} selected{/if}>8</option>
                                            <option value="9" {if condition="$row&&$row.height_in eq '9'"} selected{/if}>9</option>
                                            <option value="10" {if condition="$row&&$row.height_in eq '10'"} selected{/if}>10</option>
                                            <option value="11" {if condition="$row&&$row.height_in eq '11'"} selected{/if}>11</option>

                                        </select >
                                        <span class="ws-in">in</span>
                                    </div>
                                    <!--                                            <input class="form-control height"  type="text" data-rule="required" name="height" {if condition="$row"} value="{$row.height|htmlentities}"{/if}>-->
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="form-label" >Weight *</label>
                                    <!--                                            <input class="form-control weight"  type="text" data-rule="required" data-rule="required"  name="weight" {if condition="$row"} value="{$row.weight|htmlentities}"{/if}>-->
                                    <input class="form-control weight ws_input"  type="text" data-rule="required" data-rule="required"  name="weight" {if condition="$row"} value="{$row.weight|htmlentities}"{/if}>
                                    <span class="ws_span">lb</span>
                                </div>
                                <!--                                        <input class="form-control bmi"  type="hidden" data-rule="required" data-rule="required" name="bmi" {if condition="$row"} value="{$row.bmi|htmlentities}"{/if}>-->
                                <!--                                    </div>-->
                                <div class="col-md-12  position-relative">
                                    <label class="form-label">Are you married or living with a long term relationship partner? *</label>

                                    <div class="form-label">
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline90" type="radio" data-rule="checked" name="marital_status" value="1"
                                                   {if condition="$row&&$row.marital_status eq '1'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline90">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline91" type="radio" data-rule="checked" name="marital_status" value="2"
                                                   {if condition="$row&&$row.marital_status eq '2'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline91">No</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12  position-relative">
                                    <label class="form-label">Are you an US citizen or permanent resident of US? *</label>

                                    <div class="form-label">
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline990" type="radio" data-rule="checked" name="is_us" value="1"
                                                   {if condition="$row&&$row.is_us eq '1'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline990">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline991" type="radio" data-rule="checked" name="is_us" value="2"
                                                   {if condition="$row&&$row.is_us eq '2'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline991">No</label>
                                        </div>
                                    </div>

                                </div>
                                <!--                                    <div class="col-md-6 position-relative">-->
                                <!--                                        <label class="form-label" >Marital status *</label>-->


                                <!--                                        <select class="form-select"  name="marital_status" required="">-->
                                <!--                                            <option  value="0" {if condition="$row&&$row.marital_status eq 0"} selected{/if}>single</option>-->
                                <!--                                            <option  value="1" {if condition="$row&&$row.marital_status eq 1"} selected{/if}>married</option>-->
                                <!--                                            <option  value="2" {if condition="$row&&$row.marital_status eq 2"} selected{/if}>divorced</option>-->
                                <!--                                            <option  value="2" {if condition="$row&&$row.marital_status eq 2"} selected{/if}>long-term relationship</option>-->
                                <!--                                        </select>-->
                                <!--                                        <div class="invalid-feedback">Please select your marital status.</div>-->
                                <!--                                    </div>-->
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-6 position-relative">
                                        <label class="form-label" >Number of vaginal birth *</label>
                                        <input class="form-control"  type="number" min="0"  data-rule="required" name="product_number" {if condition="$row"} value="{$row.product_number|htmlentities}"{/if}>

                                    </div>
                                    <div class="col-md-6 position-relative">
                                        <label class="form-label" >Number of caesarean sections *</label>
                                        <input class="form-control"  type="number" min="0" data-rule="required" name="caesarean_number" {if condition="$row"} value="{$row.caesarean_number|htmlentities}"{/if}>

                                    </div>

                                </div>
                                <div class="col-md-12 position-relative">
                                    <label class="form-label" >Number of miscarriages *</label>
                                    <input class="form-control"  type="number" min="0"  data-rule="required" name="miscarriage_number" {if condition="$row"} value="{$row.miscarriage_number|htmlentities}"{/if}>

                                </div>
                                <div class="col-md-12 position-relative">
                                    <label class="form-label" >Number of abortions *</label>
                                    <input class="form-control"  type="number" min="0" data-rule="required"  name="abortion_number" {if condition="$row"} value="{$row.abortion_number|htmlentities}"{/if}>
                                </div>
                                <div class="col-md-12 position-relative">
                                    <label class="form-label" >If there is any miscarriage/abortion, please give a brief reason *</label>
                                    <div class="form-label">
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline101" type="radio" data-rule="checked" name="is_abortion_reason" value="1"
                                                   {if condition="$row&&$row.is_abortion_reason eq '1'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline101">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline radio radio-primary">
                                            <input class="form-check-input" id="radioinline102" type="radio" data-rule="checked" name="is_abortion_reason" value="2"
                                                   {if condition="$row&&$row.is_abortion_reason eq '2'"} checked{/if}
                                            >
                                            <label class="form-check-label mb-0" for="radioinline102">No</label>
                                        </div>
                                    </div>
                                    <!--                                        <input class="form-control"  type="text" data-rule="required" name="abortion_reason" {if condition="$row"} value="{$row.abortion_reason|htmlentities}"{/if}>-->
                                </div>

                                <div class="col-md-12 m-b-20 position-relative ws_abortion_reason {if condition="$row&&$row.is_abortion_reason eq '2'"} ws_dis_no {/if}">
                                <label class="form-label">If so, when and why?  *</label>
                                <input class="form-control"   name="abortion_reason" type="text" {if condition="$row"} value="{$row.abortion_reason|htmlentities}"{/if}>
                            </div>


                            <div class="col-md-12 position-relative">
                                <label class="form-label" >Is there any complications during pregnancy or childbirth *</label>
                                <div class="form-label">
                                    <div class="form-check form-check-inline radio radio-primary">
                                        <input class="form-check-input" id="radioinline105" type="radio" data-rule="checked" name="is_complications_of_pregnancy" value="1"
                                               {if condition="$row&&$row.is_complications_of_pregnancy eq '1'"} checked{/if}
                                        >
                                        <label class="form-check-label mb-0" for="radioinline105">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline radio radio-primary">
                                        <input class="form-check-input" id="radioinline106" type="radio" data-rule="checked" name="is_complications_of_pregnancy" value="2"
                                               {if condition="$row&&$row.is_complications_of_pregnancy eq '2'"} checked{/if}
                                        >
                                        <label class="form-check-label mb-0" for="radioinline106">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 m-b-20 position-relative ws_complications {if condition="$row&&$row.is_complications_of_pregnancy eq '2'"} ws_dis_no {/if}">
                            <label class="form-label">If so, when?  *</label>
                            <input class="form-control"   name="complications_of_pregnancy" type="text" {if condition="$row"} value="{$row.complications_of_pregnancy|htmlentities}"{/if}>
                        </div>

                        <!--                                    <div class="col-md-12 position-relative">-->
                        <!--                                        <label class="form-label" >Is there any complications during pregnancy or childbirth *</label>-->
                        <!--                                        <input class="form-control"  type="text" data-rule="required" name="complications_of_pregnancy" {if condition="$row"} value="{$row.complications_of_pregnancy|htmlentities}"{/if}>-->

                        <!--                                    </div>-->
                        <div class="col-md-12 position-relative">
                            <label class="form-label" >Current contraceptive method *</label>
                            <input class="form-control"  type="text" data-rule="required" name="contraceptive_measures" {if condition="$row"} value="{$row.contraceptive_measures|htmlentities}"{/if}>

                        </div>

                        <div class="col-md-12 position-relative">
                            <label class="form-label" >How did you hear about us? *</label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" name="about_content" data-rule="required" rows="3">{if condition="$row"}{$row.about_content|htmlentities}{/if}</textarea>

                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Container-fluid Ends-->
</div>
<!-- Page content Ends-->

</div>



</div>

<!-- Page js Start-->
{include file="ws/js" /}
<!--{include file="common/script" /}-->
<!-- Page js Ends -->
<script>
    $('#radioinline102').click(function () {
        var is_abortion_reason = $("input[name='is_abortion_reason']:checked").val();
        if (is_abortion_reason==2){
            $('.ws_abortion_reason').css('display','none');
        }
    })
    $('#radioinline101').click(function () {
        var is_abortion_reason = $("input[name='is_abortion_reason']:checked").val();
        if (is_abortion_reason==1){
            $('.ws_abortion_reason').css('display','inline-block');
        }
    })
    $('#radioinline106').click(function () {
        var is_complications_of_pregnancy = $("input[name='is_complications_of_pregnancy']:checked").val();
        if (is_complications_of_pregnancy==2){
            $('.ws_complications').css('display','none');
        }
    })
    $('#radioinline105').click(function () {
        var is_complications_of_pregnancy = $("input[name='is_complications_of_pregnancy']:checked").val();
        if (is_complications_of_pregnancy==1){
            $('.ws_complications').css('display','inline-block');
        }
    })
</script>
<script>

    function sumbit_sure(){
        var parmas = $("#pre_screen").find("input");
        var name_arr = ['first_name','last_name','birthday_time','address','city','postal_code','email','phone','age','weight','product_number',
            'caesarean_number','miscarriage_number','abortion_number','contraceptive_measures'];
        var j = 0;// 表单未完成数量
        var arr = [];// 表单未完成数组
        for(i=0;i<parmas.length;i++){
            var value = parmas[i].value;
            var name = $(parmas[i]).attr('name');
            if (name_arr.includes(name)&&value.length==0){
                j++;
                one = $(parmas[i]).prev().text();
                arr.push(one);
            }
        }
        $('#form_complate_number').val(j);

        var textarea = $("#pre_screen").find("textarea");
        for(i=0;i<textarea.length;i++){
            var text = textarea[i].value;
            if (!text){
                j++;
                one = $(textarea[i]).prev().text();
                arr.push(one);
            }
        }

        var name_arr = ['marital_status','is_us','is_abortion_reason','is_complications_of_pregnancy'];
        for(i=0;i<name_arr.length;i++){
            if (!$("input:radio[name='"+name_arr[i]+"']:checked").length){
                j++;
                one = $("input:radio[name='"+name_arr[i]+"']").parents('.form-label').prev().text();
                arr.push(one);
            }
        }


        var html = "Are you sure you want to exit？\n";
        if (j>0){
            html += j+" mandatory field\n";
            if(j==1){
                html += "'"+arr[0]+"'\n," ;

            }else if(j==2){
                html += "'"+arr[0]+"',\n" ;
                html += "'"+arr[1]+"',\n" ;
            }else{
                html += "'"+arr[0]+"',\n" ;
                html += "'"+arr[1]+"',\n" ;
                html += "'"+arr[2]+"'...\n" ;
            }
            html += "Not filled in.\n";
            html += "\n";
        }

        html += "Please fill in relevant information.";

        var gnl=confirm(html);
        if (gnl==true){
            if (j==0){
                return true;
            }else {
                return false;
            }

        }else{
            return false;
        }
    }
    $('.birthday_time').blur(function () {
        var btime = $('.birthday_time').val()
        if (btime){
            var date1 = btime
            date1 =  date1.split('/');

            date1 = date1[2]+'-'+date1[0]+'-'+date1[1];
            var age = getAge(date1);
            console.log(age)
            $('.age').val(age)
        }
    })
    // $('.weight').change(function () {
    //     var height =Number($('.height').val()) ;
    //     var weight =Number($('.weight').val());
    //     var bmi = Number(height*12 + weight);
    //     bmi = bmi.toFixed(2);
    //     $('.bmi').val(bmi);
    // })
    // $('.height').change(function () {
    //     var height =Number($('.height').val()) ;
    //     var weight =Number($('.weight').val());
    //     var bmi = Number(height*12 + weight);
    //     bmi = bmi.toFixed(2);
    //     $('.bmi').val(bmi);
    // })
    function getAge(strAge) {
        var birArr = strAge.split("-");
        var birYear = birArr[0];
        var birMonth = birArr[1];
        var birDay = birArr[2];

        d = new Date();
        var nowYear = d.getFullYear();
        var nowMonth = d.getMonth() + 1; //记得加1
        var nowDay = d.getDate();
        var returnAge;

        if (birArr == null) {
            return false
        };
        var d = new Date(birYear, birMonth - 1, birDay);
        if (d.getFullYear() == birYear && (d.getMonth() + 1) == birMonth && d.getDate() == birDay) {
            if (nowYear == birYear) {
                returnAge = 0; //
            } else {
                var ageDiff = nowYear - birYear; //
                if (ageDiff > 0) {
                    if (nowMonth == birMonth) {
                        var dayDiff = nowDay - birDay; //
                        if (dayDiff < 0) {
                            returnAge = ageDiff - 1;
                        } else {
                            returnAge = ageDiff;
                        }
                    } else {
                        var monthDiff = nowMonth - birMonth; //
                        if (monthDiff < 0) {
                            returnAge = ageDiff - 1;
                        } else {
                            returnAge = ageDiff;
                        }
                    }
                } else {
                    return  "出生日期晚于今天，数据有误"; //返回-1 表示出生日期输入错误 晚于今天
                }
            }
            return returnAge;
        } else {
            return ("输入的日期格式错误！");
        }
    }
</script>
</body>
</html>
